body {
  margin:0px;
  background-image:url('../../images/home/bg.png');
  background-position:left top;
  background-repeat:repeat;
  background-attachment:scroll;
  background-size:231px 231px;
  position:relative;
  left:-0px;
  width:320px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u38_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:560px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:560px;
}
#u39 {
  position:absolute;
  left:2px;
  top:272px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u41_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u41 {
  position:absolute;
  left:10px;
  top:324px;
  width:300px;
  height:100px;
}
#u42 {
  position:absolute;
  left:2px;
  top:42px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bangers-Regular', 'Bangers';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u43 {
  position:absolute;
  left:100px;
  top:356px;
  width:93px;
  height:41px;
  font-family:'Bangers-Regular', 'Bangers';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u46_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u46 {
  position:absolute;
  left:10px;
  top:214px;
  width:300px;
  height:100px;
}
#u47 {
  position:absolute;
  left:2px;
  top:42px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48_div {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bangers-Regular', 'Bangers';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u48 {
  position:absolute;
  left:50px;
  top:246px;
  width:204px;
  height:41px;
  font-family:'Bangers-Regular', 'Bangers';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  white-space:nowrap;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u51_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u51 {
  position:absolute;
  left:10px;
  top:104px;
  width:300px;
  height:100px;
}
#u52 {
  position:absolute;
  left:2px;
  top:42px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53_div {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u53 {
  position:absolute;
  left:26px;
  top:134px;
  width:268px;
  height:41px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u57_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u57 {
  position:absolute;
  left:10px;
  top:434px;
  width:300px;
  height:100px;
}
#u58 {
  position:absolute;
  left:2px;
  top:42px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59_div {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bangers-Regular', 'Bangers';
  font-weight:400;
  font-style:normal;
}
#u59 {
  position:absolute;
  left:103px;
  top:466px;
  width:126px;
  height:41px;
  font-family:'Bangers-Regular', 'Bangers';
  font-weight:400;
  font-style:normal;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  white-space:nowrap;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u63 {
  position:fixed;
  left:50%;
  margin-left:-160px;
  top:0px;
}
#u63_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-color:rgba(204, 0, 0, 1);
  background-image:none;
}
#u63_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u65_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:77px;
  background:inherit;
  background-color:rgba(204, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:77px;
}
#u66 {
  position:absolute;
  left:2px;
  top:30px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFF00;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:41px;
  color:#FFFF00;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  word-wrap:break-word;
}
#u69_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u69 {
  position:absolute;
  left:0px;
  top:41px;
  width:320px;
  height:30px;
  color:#FFFFFF;
  text-align:center;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  word-wrap:break-word;
}
#u71_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u71 {
  position:absolute;
  left:442px;
  top:41px;
  width:320px;
  height:30px;
  color:#FFFFFF;
  text-align:center;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  word-wrap:break-word;
}
#u73_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u73 {
  position:absolute;
  left:310px;
  top:41px;
  width:320px;
  height:30px;
  color:#FFFFFF;
  text-align:center;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  word-wrap:break-word;
}
#u75_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u75 {
  position:absolute;
  left:178px;
  top:41px;
  width:320px;
  height:30px;
  color:#FFFFFF;
  text-align:center;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  word-wrap:break-word;
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:url('../../images/portfolio/bg_a.jpg');
  background-position:left top;
  background-repeat:repeat;
  background-attachment:scroll;
  background-size:236px 236px;
  position:relative;
  left:-20px;
  width:728px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#u38.a {
  left:20px;
  top:47px;
  width:728px;
  height:721px;
}
#u38_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:728px;
  height:721px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u39.a {
  top:352px;
  width:724px;
}
#u41.a {
  left:297px;
  top:316px;
  width:428px;
  height:199px;
}
#u41_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:428px;
  height:199px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u42.a {
  top:92px;
  width:424px;
}
#u43.a {
  left:449px;
  top:403px;
}
#u43_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bangers-Regular', 'Bangers';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u44.a {
}
#u46.a {
  left:37px;
  top:316px;
  width:250px;
  height:436px;
}
#u46_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:436px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u47.a {
  top:210px;
  width:246px;
}
#u48.a {
  left:60px;
  top:514px;
}
#u48_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bangers-Regular', 'Bangers';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u49.a {
}
#u51.a {
  left:37px;
  top:66px;
  width:688px;
  height:240px;
}
#u51_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:688px;
  height:240px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u52.a {
  top:112px;
  width:684px;
}
#u53.a {
  left:91px;
  top:170px;
  width:581px;
}
#u53_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:581px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u54.a {
  width:581px;
}
#u57.a {
  left:297px;
  top:534px;
  width:428px;
  height:218px;
}
#u57_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:428px;
  height:218px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u58.a {
  top:101px;
  width:424px;
}
#u59.a {
  left:427px;
  top:628px;
}
#u59_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bangers-Regular', 'Bangers';
  font-weight:400;
  font-style:normal;
}
#u60.a {
}
#u62.a {
  position:absolute;
  left:0px;
  top:0px;
  width:771px;
  height:47px;
}
#u63.a {
  position:fixed;
  left:50%;
  margin-left:-385.5px;
  top:0px;
  width:771px;
  height:47px;
}
#u65.a {
  width:771px;
  height:47px;
}
#u65_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:771px;
  height:47px;
  background:inherit;
  background-color:rgba(204, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u66.a {
  top:16px;
  width:767px;
}
#u67.a {
  width:197px;
  height:47px;
}
#u67_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFF00;
}
#u68.a {
  top:3px;
  width:197px;
}
#u69.a {
  left:197px;
  top:0px;
  width:132px;
  height:47px;
}
#u69_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u70.a {
  top:8px;
  width:132px;
}
#u71.a {
  left:639px;
  top:0px;
  width:132px;
  height:47px;
}
#u71_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u71_div.selected.a {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u71.a.selected {
}
#u72.a {
  top:8px;
  width:132px;
}
#u73.a {
  left:507px;
  top:0px;
  width:132px;
  height:47px;
}
#u73_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u73_div.selected.a {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u73.a.selected {
}
#u74.a {
  top:8px;
  width:132px;
}
#u75.a {
  left:375px;
  top:0px;
  width:132px;
  height:47px;
}
#u75_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u75_div.selected.a {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u75.a.selected {
}
#u76.a {
  top:8px;
  width:132px;
}
#u63_state0.a {
  position:relative;
  left:0px;
  top:0px;
  background-color:rgba(204, 0, 0, 1);
  background-image:none;
}
body.b {  background-color:rgba(255, 255, 255, 1);
  background-image:url('../../images/portfolio/bg_a.jpg');
  background-position:left top;
  background-repeat:repeat;
  background-attachment:scroll;
  background-size:236px 236px;
  position:relative;
  left:-28px;
  width:966px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#u38.b {
  left:28px;
  top:47px;
  width:966px;
  height:992px;
}
#u38_div.b {
  position:absolute;
  left:0px;
  top:0px;
  width:966px;
  height:992px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u39.b {
  top:488px;
  width:962px;
}
#u41.b {
  left:392px;
  top:403px;
  width:579px;
  height:290px;
}
#u41_div.b {
  position:absolute;
  left:0px;
  top:0px;
  width:579px;
  height:290px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u42.b {
  top:137px;
  width:575px;
}
#u43.b {
  left:637px;
  top:532px;
}
#u43_div.b {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bangers-Regular', 'Bangers';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u44.b {
}
#u46.b {
  left:48px;
  top:403px;
  width:320px;
  height:610px;
}
#u46_div.b {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:610px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u47.b {
  top:297px;
  width:316px;
}
#u48.b {
  left:106px;
  top:688px;
}
#u48_div.b {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bangers-Regular', 'Bangers';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u49.b {
}
#u51.b {
  left:48px;
  top:83px;
  width:923px;
  height:300px;
}
#u51_div.b {
  position:absolute;
  left:0px;
  top:0px;
  width:923px;
  height:300px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u52.b {
  top:142px;
  width:919px;
}
#u53.b {
  left:317px;
  top:196px;
  width:389px;
}
#u53_div.b {
  position:absolute;
  left:0px;
  top:0px;
  width:389px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u54.b {
  width:389px;
}
#u57.b {
  left:392px;
  top:713px;
  width:579px;
  height:300px;
}
#u57_div.b {
  position:absolute;
  left:0px;
  top:0px;
  width:579px;
  height:300px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u58.b {
  top:142px;
  width:575px;
}
#u59.b {
  left:612px;
  top:845px;
}
#u59_div.b {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bangers-Regular', 'Bangers';
  font-weight:400;
  font-style:normal;
}
#u60.b {
}
#u62.b {
  position:absolute;
  left:0px;
  top:0px;
  width:1023px;
  height:47px;
}
#u63.b {
  position:fixed;
  left:50%;
  margin-left:-511.5px;
  top:0px;
  width:1023px;
  height:47px;
}
#u65.b {
  width:1023px;
  height:47px;
}
#u65_div.b {
  position:absolute;
  left:0px;
  top:0px;
  width:1023px;
  height:47px;
  background:inherit;
  background-color:rgba(204, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u66.b {
  top:16px;
  width:1019px;
}
#u67.b {
  width:197px;
  height:47px;
}
#u67_div.b {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFF00;
}
#u68.b {
  top:3px;
  width:197px;
}
#u69.b {
  left:197px;
  top:0px;
  width:132px;
  height:47px;
}
#u69_div.b {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u70.b {
  top:8px;
  width:132px;
}
#u71.b {
  left:891px;
  top:0px;
  width:132px;
  height:47px;
}
#u71_div.b {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u71_div.selected.b {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u71.b.selected {
}
#u72.b {
  top:8px;
  width:132px;
}
#u73.b {
  left:749px;
  top:0px;
  width:132px;
  height:47px;
}
#u73_div.b {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u73_div.selected.b {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u73.b.selected {
}
#u74.b {
  top:8px;
  width:132px;
}
#u75.b {
  left:617px;
  top:0px;
  width:132px;
  height:47px;
}
#u75_div.b {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u75_div.selected.b {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u75.b.selected {
}
#u76.b {
  top:8px;
  width:132px;
}
#u63_state0.b {
  position:relative;
  left:0px;
  top:0px;
  background-color:rgba(204, 0, 0, 1);
  background-image:none;
}
